<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastroAnimal</title>
</head>
<body>
    <label for="">Nome:</label>
    <input type="text" name="nome" id="nome">
    <label for="">Idade:</label>
    <input type="text" name="idade" id="idade"> 
    <label for="">Espécie</label> 
    <input type="text" name="Especie" id="Especie"> <br>
    <label for="">Sexo</label>
    <input type="text" name="sexo" id="sexo">
    <label for="">Porte</label> 
    <input type="text" name="Porte" id="Porte">
    <label for="">Saúde</label>
    <input type="text" name="saude" id="saude"> <br>
    <button type="button">Gravar</button>
</body>
</html>