<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../styles/style.css">
    <title>Cadastro Doação</title>
</head>
<body>
    <!--Campos de cadastro de doação-->
    <div>    
        <fieldset>
            <legend class="titulo">Cadastro de animais adotados</legend>
            <div class="alinhementoHorizontal">
                <div class="coluna">
                    <div>
                        <label for="">Animal doado:</label>
                        <select>
                            <option></option>
                        </select>
                    </div>
                    <label for="">Pessoa que adotou:</label>
                    <div>
                        <label for="">Nome:</label>
                        <input type="text" name="nome" id="nome" class="campoPersonalizado">
                    </div>
                    <div>
                        <label for="">Telefone:</label>
                        <input type="number" name="idade" id="idade" class="campoPersonalizado">
                    </div>
                    <div>
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email">   
                    </div>
                    <div>
                        <label for="">Indereço:</label>
                        <label for="">Rua:</label>
                        <input type="text" name="rua" id="rua" class="campoPersonalizado">
                        <label for="">numero:</label>
                        <input type="number" nunber="numero" id="numero" class="campoPersonalizado">
                        <label for="">Bairro:</label>
                        <input type="text" name="bairro" id="bairro" class="campoPersonalizado">
                        <label for="">CEP:</label>
                        <input type="number" name="cep" id="cep" class="campoPersonalizado">
                        <label for="">Cidade:</label>
                        <input type="text" name="cidade" id="cidade" class="campoPersonalizado">
                        <label for="">Estado:</label>
                        <input type="text" name="estado" id="estado" class="campoPersonalizado">
                        <label for="">País:</label>
                        <input type="text" name="pais" id="pais" class="campoPersonalizado">
                    </div>
                </div>
            </div>
            <!--Botão Gravar-->
            <div class="espacamento"><button type="button" onclick="" class="botaoGravar">Gravar</button></div>
        </fieldset>
    </div>
    
    <script>
            
    </script>  
</body>
</html>