<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./../controllers/cadastroAnimal.js"></script>
    <title>cadastroAnimal</title>
</head>
<body>
    <label for="">Nome:</label> <br>
    <input type="text" name="nome" id="nome"> <br>
    <label for="">Idade:</label> <br>
    <input type="number" name="idade" id="idade"> 
    <p>
        <label for="">Espécie:</label> <br>
        <input type="radio" name="especie" id="gato">
        <label for="">Gato</label>
        <input type="radio" name="especie" id="cachorro">
        <label for="">Cachorro</label>
    </p>
    <p>
        <label for="">Sexo:</label> <br>
        <input type="radio" name="sexo" id="femia">
        <label for="">Femia</label>
        <input type="radio" name="sexo" id="macho">        
        <label for="">Macho</label>
    </p>
    <p>
        <label for="">Porte:</label> <br>
        <select name="porte" id="porte">
            <option value="pequeno">Pequeno</option>
            <option value="medio">Médio</option>
            <option value="grande">Grande</option>
        </select>
    </p>
    <label for="">Saúde:</label> <br>
    <textarea name="saude" id="saude" cols="30" rows="10"></textarea> <br>
    <button type="button" onclick="addNewAnimal(true)">Gravar</button>

    <div id="box">

    </div>
    <script>
        addNewAnimal()
        
        function addNewAnimal(isAnimal){
            if (isAnimal){
                const animal = {
                    "nome": nome.value,
                    "idade": idade.value,
                    "especie": especie.value,
                    "sexo": sexo.value,
                    "porte": porte.value,
                    "saude": saude.value
                }
                addAnimal(animal)
            }
            var html = "<table border='1|1'>";
            for (var i = 0; i < listaAnimal.length; i++) {
                html+="<tr>";
                html+="<td>"+listaAnimal[i].nome+"</td>";
                html+="<td>"+listaAnimal[i].especie+"</td>";
            
                html+="</tr>";
            }
            html+="</table>";
            document.getElementById("box").innerHTML = html;
        }
    </script>
</body>
</html>