<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./../controllers/cadastroAnimal.js"></script>
    <title>cadastroAnimal</title>
</head>
<body>
    <label for="">Nome:</label>
    <input type="text" name="nome" id="nome">
    <label for="">Idade:</label>
    <input type="text" name="idade" id="idade"> 
    <label for="">Espécie</label> 
    <input type="text" name="especie" id="especie"> <br>
    <label for="">Sexo</label>
    <input type="text" name="sexo" id="sexo">
    <label for="">Porte</label> 
    <input type="text" name="porte" id="porte">
    <label for="">Saúde</label>
    <input type="text" name="saude" id="saude"> <br>
    <button type="button" onclick="addNewAnimal(true)">Gravar</button>

    <div id="box">

    </div>
    <script>
        addNewAnimal()
        
        function addNewAnimal(isAnimal){
            if (isAnimal){
                const animal = {
                    "nome": nome.value,
                    "idade": idade.value,
                    "especie": especie.value,
                    "sexo": sexo.value,
                    "porte": porte.value,
                    "saude": saude.value
                }
                addAnimal(animal)
            }
            var html = "<table border='1|1'>";
            for (var i = 0; i < listaAnimal.length; i++) {
                html+="<tr>";
                html+="<td>"+listaAnimal[i].nome+"</td>";
                html+="<td>"+listaAnimal[i].idade+"</td>";
                html+="<td>"+listaAnimal[i].especie+"</td>";
                html+="<td>"+listaAnimal[i].sexo+"</td>";
                html+="<td>"+listaAnimal[i].porte+"</td>";
                html+="<td>"+listaAnimal[i].saude+"</td>";
            
                html+="</tr>";
            }
            html+="</table>";
            document.getElementById("box").innerHTML = html;
        }
    </script>
</body>
</html>