<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./../controllers/login.js"></script>
    <link rel="stylesheet" href="./../styles/style.css">
    <title>Login</title>
</head>
<body>
    <div>
        <fieldset>
            <legend>Login</legend>
            <label for="">Usuário:</label>
            <input type="text" name="usuario" id="usuario" value="usuario"> <br>
            <label for="">Senha:</label>
            <input type="password" name="senha" id="senha" value="senha"> <br>
            <button onclick="logar()">Entrar</button>
            <button>cadastre-se aqui</button>
        </fieldset>
    </div>

    <script>
        function logar() {
            let user = {"user": usuario.value, "password": senha.value, "login": Date().toLocaleString()};

            if(validaLogar(user)){
                localStorage.setItem("login", JSON.stringify(user));
                window.location.href = "master.html";
            }
        }
    </script>
</body>
</html>