<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../styles/master.css">
    <title>Document</title>
</head>
<body>
    <div id="mySidenav" class="sidenav">
        <div id="main" class="mainContent">
        
        </div>
        <a onclick="setaPage('home.html')" id="inicio">Inicio</a>
        <a onclick="setaPage('cadastroAnimal.html')" id="animal">Animal</a>
        <a onclick="setaPage()" id="adocao">Adoção</a>
        <a onclick="setaPage()" id="funcionario">Funcionário</a>
        <a onclick="setaPage('login.html')" id="sair">Sair</a>

        
    </div>
    <script>
        setaPage("cadastroAnimal.html")

        function setaPage(page){
            document.getElementById('main').innerHTML += `<object type="text/html" data="${page}"></object>`;
        }
        
    </script>
</body>
</html>