<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../styles/style.css">
    <script src="./../controllers/listUsuario.js"></script>
    <title>Funcionários</title>
</head>
<body>
    <!--Tabela de usuários-->
    <div>
        <fieldset>
            <legend class="titulo">Funcionários</legend>
            <div class="menuDiv">
                <button class="botaoGravar" onclick="cadastraClick()"> + Cadastrar</button>
            </div>
            <h3>Funcionários cadastrados</h3>
            <div></div>
        </fieldset>
    </div>

    <script>

    </script>
</body>
</html>