<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./../styles/style.css">
    <script src="./../controllers/listDoacao.js"></script>
    <title>Tabela de Doações</title>
</head>
<body>
    <div>
        <fieldset>
            <legend class="titulo">Animais Doados</legend>
            <div class="menuDiv">
                <button class="botaoGravar" onclick="cadastraClick()"> + Cadastrar</button>
            </div>
            <h3>Pets Doados</h3>
            <div id="box"></div>
        </fieldset>
    </div>   

    <script>
        
    </script>
</body>
</html>